<!DOCTYPE html>
<html lang en="">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial scale=1.0"/>
        <title>AI Smart Resume Screening System</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>AI Smart Resume Screening System</h1>
                <p class="subtitle">Upload your resume here and get instant AI feedback</p>
            </div>
            
            <div class="tags">
                <button class="tab active" onclick="switchTab('single',this)">Single Resume</button>
                <button class="tab" onclick="switchTab('hr',this)">HR Dashboard</button>
            </div>

            <div id="tab-single" class="tab-panel active">
                <div id="single-drop" class="upload-box">
                    <input type="file" id="resumeUpload" accept=".pdf">
                    <label for="resumeUpload" class="upload-label">
                        <span>Click to upload or drag &amp; drop pdf only</span>
                    </label>
                </div>

                <div id="single-filename" class="filename-display">
                    <textarea id="jobDescription" placeholder="Paste Job Description here(optional)"></textarea>
                 </div>
                

            </div>
        
        
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>